:root {
    --white: #fafafa;
    --cyan: #6CE6DD;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?bjuzcc');
    src:  url('../fonts/icomoon.eot?bjuzcc#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?bjuzcc') format('truetype'),
        url('../fonts/icomoon.woff?bjuzcc') format('woff'),
        url('../fonts/icomoon.svg?bjuzcc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\ea90";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-github:before {
    content: "\eab0";
}
.icon-linkedin:before {
    content: "\eaca";
}


body {
    font-family: 'Arvo', serif;
}

figure {
    margin: 0;
}

.container {
    display: grid;
    grid-template: repeat(4, 100%) / repeat(3, 1fr);
    grid-template-areas: 'header header header' 
                            'about about about' 
                            'portafolio portafolio portafolio' 
                            'footer footer footer';
}
.Header {
    background: url(../../images/background.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    grid-area: header;
}

.Header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Header-title {
    margin: 0 auto;
    color: var(--white);
    font-size: 4em;
}

.Header-subtitle {
    color: var(--white);
    margin: 0;
}

.Header-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.Header-img:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, .7);
    transform: scale(1.1);
    transition: .3s;
}

.Header-avatar {
    object-fit: cover;
    height: 100%;
    min-width: 100%;
}

.Portfolio {
    background-color: var(--cyan);
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    padding: 1.5em;
    grid-area: portafolio;
}

.Portfolio-container {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.Project {
    background-color: var(--white);
    width: 500px;
    margin: 1em;
    overflow: hidden;
}

.Project:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, .7);
    transition: .3s;
    
}

.Project-img {
    width: 100%;
    max-height: 500px;
}

.Project-description {
    text-align: left;
    padding: 0 1em;
    font-size: .7em;
    font-family: 'Raleway', sans-serif;
}

.Project-description a {
    color: #6ACAFC;
    text-decoration: none;
}

.Project-description a:hover {
    background-color: #DBF094;
    color: black;
    transition: .3s;
    text-decoration: underline;
    border-radius: 5px;

}

.About {
    padding: 1em;
    grid-area: about;
}

.About-title {
    text-align: center;
    border-bottom: 1px solid var(--cyan);
}

.About-description p {
    background: var(--white);
    padding: 1em;
    margin: 0 auto;
    width: 65%;
    white-space: pre-line;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
}

.About-description p a {
    text-decoration: none;
    color: var(--cyan);
}

.About-social {
    margin: 2em 1em;
    display: flex;
    justify-content: center;
}

.About-link {
    text-decoration: none;
    margin: 1em;
    padding: 1em;
    background: var(--cyan);
    border-radius: 50%;
    color: var(--white);

}

.About-link:hover {
    background: var(--white);
    color: var(--cyan);
    transition: .3s
}

.Footer {
    background-color: #DBF094;
    margin: 0;
    padding: 1em;
    text-align: center;
    grid-area: footer;
}

/* Media Queries */

@media screen and (max-width: 700px) {
    .About-description p {
        width: 80%;
    }
    
}

@media screen and (max-width: 500px) {
    .Header-title {
        font-size: 2em;
        margin: 1em 0 0 0;
    }
    .Header-subtitle {
        font-size: 1em;
        margin: 0;
    }

    .Portfolio {
        padding: 0;
    }

    .Portfolio-title {
        margin: 0;
        padding: 1em 0;
    }

    .About-description p {
        width: auto;
        font-size: 1em;

    }
    .Footer {
        padding: .5em;
    }
}

