body {
    font-family: 'Raleway', serif;
}

figure {
    margin: 0;
}

.Header {
    background: url(../../images/background.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Header-title {
    margin: 0 auto;
    color: #fafafa;
    font-size: 4em;
}

.Header-subtitle {
    color: #fafafa;
}
.Header-img {
    border-radius: 50%;
    height: 10em;
}

.Portfolio {
    background-color: #6CE6DD;
}

.Portfolio {
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    padding: 1.5em;
}

.Portfolio-container {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.Project {
    background-color: #fafafa;
    width: 500px;
    margin: 1em;
    border-radius: 10px;
    overflow: hidden;
}

.Project-img {
    width: 100%;
    max-height: 500px;
}

.Project-description {
    text-align: left;
    padding: 0 1em;
    font-size: .7em;
}

.Project-description a {
    color: #6ACAFC;
    text-decoration: none;
}

.Project-description a:hover {
    background-color: #DBF094;
    color: black;
    transition: .3s;
    text-decoration: underline;
    border-radius: 5px;

}

.Footer {
    background-color: #DBF094;
    margin: 0;
    padding: 1em;
    text-align: center;
}